Source: istsos
Section: web
Priority: optional
Maintainer: Johan Van de Wauw <johan.vandewauw@gmail.com>
Build-Depends: debhelper (>= 9),  python-all-dev, python, python-setuptools, apache2
Standards-Version: 3.9.6
Homepage: http://istsos.org
Vcs-Git: git://anonscm.debian.org/collab-maint/istsos.git
Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/istsos.git;a=summary

Package: python-istsos
Architecture: all 
Depends: ${misc:Depends}, apache2, python-psycopg2, libapache2-mod-wsgi
Recommends: postgis
Description: Sensor Observation Service Data Management system
 IstSOS is an OGC Sensor Observation Service (SOS) server implementation
 written in Python. istSOS allows for managing and dispatch observations
 from monitoring sensors according to the Sensor Observation Service standard.
 .
 The project provides also a Graphical user Interface that allows for easing
 the daily operations and a RESTFul Web api for automatizing administration
 procedures. 
